/* les styles pour le premierSITE Vanusa SAntos chantier Suresnes 2021-2022 */

/* les typos Google Fonts utilisees dans le site : Anton (sans-serif), Oswald (sans -serif), Lemonada (manuscrite) */

/* font-family:'Anton', sans-serif;
    font-family:'Lemonada', sans-serif;
    font-family:'Oswald', sans-serif;  */

    /* debut reset */

    @charset "UTF-8";

    /* reset simple  */
    /* l'étoile/astérisque signifie tout all */
    /* sinon on eut utiliser le reset d'Eric Meyer qui se trouve à cette adresse: http://meyerweb.com/eric/tools/css/reset/  */
    *{
        box-sizing: border-box;
    }
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* fin reset simple */
    /* les typos goole font utilisees das le site */


body {
    /* background-color: aquamarine; */
    font-family:'Oswald', sans-serif;
    /* image de fond */
    /* chemin depuis le fichier style.css; on sort du dossier CSS puis on rentre dans le dossier img avec ../ le chemin pour sortir d'un dossier mettre toujours 2 POINTS pour sortir du dossier et rentrer dans un autre pour donner le chemin de l image */
    background-image: url('../img/concrete-texture.png');
}

/* les titres du site */

/* nav {
    background-color: aqua;
    margin: 0 auto;
} */

/* main {
    background-color: whitesmoke;
    margin: 0 auto;
} */

h1 {
    /* typo Google : */
    font-family: 'Anton', sans-serif;
    /* taille de typo */
    font-size: 40px;
    /* espacement entre les lettres */
    letter-spacing: 1px;
    /* couler réf. héxadécimal */
    color: #29800b9;
    text-align: center;
}


h2 {
    font-size: 35px;
    color: #2c3e50;
    /* font-weight: = épaisseur des caractères , aussi par chiffre sans unités, bold= bolder */
    font-weight: bolder;
    /*text-shadow ou ombre portée : une proprieté qui a besoin de 1 ou plusieurs valeurs, voir details des valeurs sur site MDN : https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow */
    text-shadow: 1px 1px 2px #aaa;
}

/* la taille de l icone dans h2 */
/* taille de l'icone dans le h2 -- i est enfant de h2 -- l'icone sera 150% plus grand que la taille d'origine */

h2 i {
    font-size: 150%;
}


h3 {
    font-size: 22px;
    color: #2c3e50;
    text-shadow:1px 1px 2px #aaa;
}

/* h4 {
    text-align: center;
} */

blockquote {
    font-family:'Lemonada', cursive;
    font-size: 120%;
}

blockquote i {
    font-size: 350%;
    color:coral;
    vertical-align: middle;
}

/* A compléter position */

/* Header dans la page Index */

header {
    height: 175px;
    background-color: #719bc5;
}
/* dans le header, les trois zones suivantes flottes toutes les trois à gauche, elles ont une largeur en %, donc une largeur relatives à l'element parent doc header */

/* la proprieté float sert à casser le fluxdu html */

#logo {
    /* la boite */
    width: 25%;
    float: left;
    padding: 15px;
    /* padding = marge interieure de l element / padding = rembourrage/capitonage/mettre le matelassé en anglais */
    /* l aspect de la boite/element */
    background-color: #719bc5;
    /* le text */
    text-align: center;
}

#slogan {
    width: 50%;
    float: left;
    padding-top: 50px;
    background-color: #719bc5;
}

#social {
    width: 25%;
    float: left;
    background-color: #719bc5;
}

#social i {
    /* le change la nature de i qui est de type inline, en un element de type block */
    display: block;
    padding: 15px 30px 0 0;

    font-size: 30px;
    text-align: right;
}

/* la classe clear pour retablir le flux */

.class {
    clear: both;
}

/* ce lundi 26/07 on a fait du reset sur css, class clear et flaot pour mettre les elements du header cote a cote  */

header a {
    text-decoration: none;
    color: #10828c;
}

/* ici sur HEADER A, lecture est: "tous les liens à lecture du header sont non-soulignés" */

