/* les styles pour le premierSITE Vanusa Santos chantier Suresnes 2021-2022 */

/* les typos Google Fonts utilisees dans le site : Anton (sans-serif), Oswald (sans -serif), Lemonada (manuscrite) */

/* font-family:'Anton', sans-serif;
font-family:'Lemonada', sans-serif;
font-family:'Oswald', sans-serif;  */

/* debut reset */

@charset "UTF-8";

/* ICI on utilise le RESET SIMPLE, non celui d Eric Meyer, qui est plus poussé  */
/* l'étoile/astérisque signifie tout all */
/* sinon on eut utiliser le reset d'Eric Meyer qui se trouve à cette adresse: http://meyerweb.com/eric/tools/css/reset/  */

* {
    box-sizing: border-box;
}
/* sans le "box-sizing: border-box" ici les elements ne flottent plus */
/* ci dessus, on met tous les elements en box-sizing, border-box */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* fin reset simple */
/* les typos google Fonts utilisees dans le site */

body {
/* background-color: aquamarine; */
font-family:'Oswald', sans-serif;
/* image de fond */
/* chemin depuis le fichier style.css; on sort du dossier CSS puis on rentre dans le dossier img avec ../ le chemin pour sortir d'un dossier mettre toujours 2 POINTS pour sortir du dossier et rentrer dans un autre pour donner le chemin de l image */
background-image: url('../img/concrete-texture.png');
}

/* les titres du site */

/* main {
background-color: whitesmoke;
margin: 0 auto;
} */

h1 {
/* typo Google : */
font-family: 'Anton', sans-serif;
/* taille de typo */
font-size: 40px;
/* espacement entre les lettres */
letter-spacing: 1px;
/* couler réf. héxadécimal */
color: #2980b9;
text-align: center;
}

h2 {
font-size: 35px;
color: #2c3e50;
/* font-weight: = épaisseur des caractères , aussi par chiffre sans unités, bold= bolder */
font-weight: bolder;
/*text-shadow ou ombre portée : une proprieté qui a besoin de 1 ou plusieurs valeurs, voir details des valeurs sur site MDN : https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow */
text-shadow: 1px 1px 2px #aaa;
}

/* la taille de l icone dans h2 */
/* taille de l'icone dans le h2 -- i est enfant de h2 -- l'icone sera 150% plus grand que la taille d'origine */

h2 i {
font-size: 150%;
}

h3 {
font-size: 22px;
color: #2c3e50;
text-shadow:1px 1px 2px #aaa;
}

h4 {
text-align: center;
}

p {
    padding: 5px;
}

blockquote {
font-family:'Lemonada', cursive;
font-size: 80%;
}

blockquote i {
font-size: 350%;
color:#6acafc;
vertical-align: middle;
}

/* A compléter position */

/* header */

header {
height: 175px;
background-color: #719bc5;
}
/* dans le header, les trois zones suivantes flottes toutes les trois à gauche, elles ont une largeur en %, donc une largeur relatives à l'element parent doc header */

/* la proprieté float sert à casser le fluxdu html */
#logo {
/* la boite */
width: 25%;
float: left;
padding: 15px;
/* padding = marge interieure de l element / padding = rembourrage/capitonage/mettre le matelassé en anglais */
/* l aspect de la boite/element */
background-color: #719bc5;
/* le text */
text-align: center;
}

#slogan {
width: 50%;
float: left;
padding-top: 50px;
background-color: #719bc5;
}

#social {
width: 25%;
float: left;
background-color: #719bc5;
}

#social i {/* ici on cible un element i dont le parent à l'id "social"/

/* le change la nature de i qui est de type inline, en un element de type block */
display: block;
padding: 15px 30px 0 0;

font-size: 30px;
text-align: right;
}

/* la classe clear pour retablir le flux */

.class {
clear: both;
}

/* ce lundi 26/07 on a fait du reset sur css, class clear et float pour mettre les elements du header cote a cote  */

/* ici sur HEADER A, la lecture est: "tous les liens à lecture du header sont non-soulignés" */

header a {
text-decoration: none;
color: #10828c;
}
/* fin header */

/* LA NAV, la navigation */

nav {
height: 70px;
padding: 15px;

background-color: #2980b9;
/* border-bottom: 8px solid #6acafc; */
/* border-bottom : une bordure en bas */

text-align: center;
}

nav a {
/* ici les proprietes et valeurs liées a l espacement */
margin: 10px;
padding: 2px 10px;

/* ici les infos liees l aspect : marges et couleurs */
background-color: #6acafc;
border: 2px solid #fff;
border-radius: 10px 0px;
/* border-radius arrondi les angles de bordure */
/* https://css3generator.com/ */

/* ici tout lies aux textes */
font-family: 'Oswald', sans-serif;
color: #2c3e50;
text-decoration: none;
font-size: 16px;
/* ici transition pour controler la duree sur l envol en changement de couleur de nav a:hover */
transition: 0.5s;
}

/* sur "nav a:hover" permet de changer l 'aspect du survol du lien, c est une pseudo classe, ça change de couleur */

nav a:hover {
/* a :hover  est un pseudo-class, un effet au survol du curseur, rajouté pour faire marcher avec nav a */
background-color: #a6d6c3;
color:#fff;
}

.active {
    background-color: #a6d6c3;
    color: orangered;
}

/* fin nav */

/* les zones principales a partir d ici : */
main {
width: 1100px;
margin: 0 auto;
/* une couleur en rgba : red green bleu et avec un canal "alpha" on joue sur la transparence de la couleur rgb - l opacote de la couleru */
background: rgba(178, 178, 178, 0.178);
}

aside {
height: 250px;
width: 30%;
padding: 10px;
float: left;
background-color: #a6d6c3;   
}

#accueil {
width: 70%;
float: left;
}

section {
    margin-bottom: 50px;
    padding: 20px;
}

/* la class clear pour rétablier le flux */
.clear {
clear: both;
}          

footer {
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    background-color: #2980b9;
    text-align: center;
    color: #fff;  
}
/* site à utiliser pour verifier infos des formes en px et visualiser notre choix de la forme/mesures :  https://css3generator.com/ */

/* site pour fabriquer un navigateur indiqué par Patrick : https://css3generator.com/ */

/* FIN DES ZONES PRINCIPALES DE LA PAGE */

button {
    position: fixed;
    /* le bouton est fixé  */
    bottom: 40px;
    /* à 40px du bas de la page ge */
    right: 20px;
    /* et à 20px de la droite de la page */

    border: none;
    /* le bouton n'pas pas de bordure */
    background: transparent;
    /* il est transparent */

    font-size: 350%;
    color: #2c3e50;
}

/* La page séclecteur */

.selection p {
    margin-bottom: 5px;

    color: greenyellow;
    background-color: orchid;
}

.selection p:first-of-type {
    background-color: hotpink;
    /* 1er enfant du type désigné = le type c'est P, ici on designe que le 1er paragraphe change de couleur */
}


.selection p:last-of-type {
    background-color: hotpink;
    /* dernier enfant du type désigné = le type c'est P, ici on designe que le dernier paragraphe change de couleur */
    width: 300px;
}

.selection p:nth-of-type(4), p:nth-of-type(6) {
    background: black;
    color: white;
    /* nth en anglais veut dire que c'est le énième du type désigné = désinger par numero ordinal */
}
 
/* .selection *:last-child {
    /* etoile/asterisque signifie "tout"/"all" et nos ciblons ici les derniers enfants des éléments qui sont dans la section */
    /* font-size: 100px
} */ */

.selection .zone-a {
    color: purple;

}

.selection .zone-b {
    color: royalblue;
}

/* .selection div:not(.zone-b) {
    border-color: white;
    font-size: 68px;
    /* ici, on aplique à toutes les div sauf la zone-b ???? */
/* } */ */

.selection div:not(.zone-b) {
    background-color: red;
    font-size: 68px;
}

.selection .zone-b .texte-orange {
    font-size: 35px;
    color:orangered;
}

selection #zone-d span {
    color: #32ff32;
    font-size: 30px;
    font-style: italic;
}

/* fin page des sélecteurs */

/* PAGE DES IMAGES */

.img-fond {
    margin-bottom: 20px;
    background: #000 url('../img/fond.jpg') no-repeat;
    background-size: cover;
    /* avec COVER, l'image prend toute la largeur et le fond NOIR est couvert */
}

.img-fond p {
    width: 75%;
    margin: 200px auto 250px auto;
    padding: 20px;

    background: rgba(255,255,255, 0.60) ;
    border-radius: 50px;
    font-size: 120%;
}

/* ici avec les crochets on ne CIBLE que cette image, on la trouve par son chemin dans le fichier html */
img[src="img/toureiffel.jpg"] {
    display: block;
    /* je change la nature de l'élément inline en block pour pour lui, ici ça met l image de la tour au centre, avec des bords, l element inline passe en block grâce à DISPLAY */
    padding: 20px;
    margin:auto;
    /* margin-auto ne marche que sur element block */
    background-color:#fff ;
}

.au-centre {
    text-align: center;
}

.img-golden {
    margin: 20px;
    border: 5px solid #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 1s;
    /* la durée de l'animation qui fonctionne avec le :hover des deux autres classes */

}

.img-golden:hover {
    transition: rotate(-7deg);
    border: 15px solid #fff;
}

.rotation-360:hover {
    transform: rotate(-360deg);
}

/* fin page des images */

/* Ici, la classe CLEAR pour retablir le flux */

.clear {
    clear: both;
}

/* PAGE TABLEAU */

.tableau table, .tableau td {
    border: 2px solid #205D67;
}

/* collapse fait fondre les colonnes en une seule */
.tableau table {
    width: 80%;
    margin: auto;
    /* padding: 5px; */
    border-collapse: collapse;
}

.tableau td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

.tableau thead {
    background: #d0e3fa;
    border: 5px solid #6495ed;
    /* text-align: center; */
}

.tableau caption {

    height: 50px;
    padding-left: 5px;

    background: #d0e3fa;
    border: 1px solid #6495ed;

    font-size: 25px;
    text-align: left;
    color: #6495ed;

}

/* pause pour entretien avec Flora */

/* la page des listes */

ul.fruit {
    /* pour voir tous les types de puces faites CTRL + ESPACE  */
    list-style: none;
}

ul.fruit li {
    display: inline; /* les éléments li sont block par défaut et on change leur nature en élément inline */
    margin: 15px;
}

li .far {
    font-size: 90%;
    color: #2D5C7F;
}

li.far:hover {
    /* lecture ici : c'est un li qui contient un element dont la class est far */
    font-size: 150%;
    color: blue;
}

ol.fruit-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: upper-roman;
}

/* ci-dessous on a : une classe (.imbriquee) + un element dans la classe (.imbriquee ul) */
.imbriquee, .imbriquee ul {
    padding-left: 40px;
}

.imbriquee {
    cursor: pointer;
    /* cursor: pointer = faire apparaitre la MAIN comme courseur */
}

.imbriquee ul {
    display: none;
    /* ici on dit "non-afficher" les puces */
}

.affiche:hover ul {
    display: block;
}

/* Avec  .imbriquee li ul li:hover nous ciblons les li (au survol de la souris) qui sont dans une ul; imbriquée dans des li, eux-mêmes enfants d'un élément qui a la classe "imbriquée" */

.imbriquee li ul li:hover {
    display: inline;
    font-size: 200%;
    background-color: #6acafc;
    box-shadow: 5px 10px 10px grey;
    transition-duration: 1.5s;

    /* css3generateur.com = site pour voir comment on fait une box-shadow */
}

/* fin page liste */


/* PAGE DES LIENS */

/* Les ancres en haut de page */
.ancre {
    text-align: center;
    padding: 100px;
}

.ancre a {
    margin: 8px;
    padding: 5px 10px;

    background: #2c3e50;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 3px rgb(24, 248, 43);

    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* ici le box-shadow: none sur .ancre a:hover fait disparaitre l'ombre au survol de la souris */

.ancre a:hover {
    box-shadow: none;
    text-shadow: 1px 5px 10px rgb(243, 12, 70);
    transition-duration: 0.5s;
}

/* La nav dans l id menu */

#menu nav {
    background: transparent;
    border: none;
}

#menu ul {
    list-style: none;
    text-align: center;
}

#menu ul li {
    display: inline-block;
}

#menu nav a {
    padding: 10px;
    background: #ddd;
        
    color: grey;
    text-decoration: none;

    transition: 1s ease-in;
    /* ici la transition est lente (1s) au debut puis accelere jusqu à la fin avec ease-in --- lent sur le debut at accelere de plus en plus à la fin */
}

#menu nav a:hover {
    background: #069;
    color: #fff;
}

/* MENU DEROULANT */

/* la hauteur de la section qui contient le menu */
#menu-deroulant {
    height: 650px;
}

/* on enlève les styles que l'élément nav hérite de la nav du site */
#menu-deroulant nav {
    width: 90%;
    margin: 0 auto;

    background: transparent;
    border: none;
}

/* on fait floter à gauche les li de la ul principale */
#menu-deroulant nav ul li {
    float: left;
    list-style: none;
    /* avec list-style: none, la li pert les puces */
    width: 20%;
}

/* les deux ul enfants de la ul principale sont display none,on les masque */
#menu-deroulant ul ul {
    display: none;
    /* ici le display none fait disparaitre les ul qui sont dans une ul --- */
}

/* ces deux ul ont une classe niveau-2 et sur le hover des li qui contiennent ces ul on fait display block, on les fait réaparaître */
#menu-deroulant nav ul.niveau-1 li.sous-menu:hover ul.niveau-2 {
    display: block;
}

#menu-deroulant nav ul li ul li {
    border-top: 1px solid #333;
    width: 100%;
}

#menu-deroulant nav li {
    background: #ccc;
}

#menu-deroulant nav li a {
    padding: 4px 0 4px;
    display: block;
}

/* #menu-deroulant ul {
    text-align: center;
} ICI cette syntaxe est redondante, la UL est alignée sans cette */


/* PAGE FORMULAIRE */

form {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    
    background: #80bceb;
    border-radius: 20px;
}

/* label {
    margin-left: 50px;
} */

fieldset {
    margin: 20px;
    background-color: rgb(238, 237, 237);
    border: none;
   
    /* border-left : 1px solid rgb(252, 92, 92);  */
    /* border-top: none;
    border-right: none;
    border-bottom: none;   */
}

legend {
    font-weight:lighter;
    padding: 0 20px;
    color:rgb(238, 237, 237);
    background-color: rgb(238, 58, 58);
}

label{
    font-size: 40%
    
}

/* textarea {
    resize: none;
    /* resize : on ne peut pas agrandir le formulaire */


/* label {
    margin-right: 20px 10px;
} */

input {
    margin-right: 30px;
}

/* input {
    display: inline-block;
    width: 500px;
    margin-left: 50px;
    position: fixed;
} */


/* PAGE MULTIMEDIA */

/* commentaire pour le lien Google Maps ci-dessous = mettre entre  crochets le src pour cibler seulement le lien GMpas a 100% du parent = il prend toute la page en largeur */

/* iframe ["https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15554.035325702695!2d-38.345983577673195!3d-12.939259054032373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71617920c294307%3A0x4e732382ffff9e96!2sStella%20Maris%2C%20Salvador%20-%20Bahia%2C%2041600-090%2C%20Br%C3%A9sil!5e0!3m2!1sfr!2sfr!4v1628152288592!5m2!1sfr!2sfr"] {
    width: 100%;
} */

/* Ici pour Youtube ici c'est une option pour cibler l'iframe et l elargir a 100% dans le parent  */

iframe[src="https://www.youtube.com/embed/nkj4RCcR0CY"]  {
    width: 100%;
}

/* Ici pour les iframe : ça mets tous les iframe a 100%, mais ça n'agit pas sur la taille de la vidéo */

iframe[allowfullscreen] {
    width: 100%;
}

.bordure {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 10px solid rgb(24, 248, 43);
}

/* pour la vidéo de fond */
/* réglage de la section */

.video-fond {
    padding-left: 0;
    padding-right: 0;
}

.video-fond video {
    
    /* position absolue fait la video passer endesus des autres choses, elle passe avant = la position est absolue sur la page, l'image/video ne bouge pas, elle est fixée absolument = les autres contenus passent dessous*/
    /* margin: 0 auto; */
    position: absolute;
    width: 80%;
    z-index:ition -1;
    /* l'empilement de z-index : 1 est le niveau le plus bas dans l'ordre d'empilement : le z-order */
}

.video-texte {
    /* position relative permete de décaler un element par rapport à sa position normale */
    position: relative;
    width: 100%;
    height: 500px;
    /* border: blueviolet 10px solid; */
}

.video-fond p {
    position: absolute;
    z-index: 2;
    width: 500px;
    margin: auto;
    left: 225px;
    top: 225px;
    padding: 20px;
    border-radius: 15px;
    
    background: rgba(255,255,255, 0.60);

    font-size: 120%;
    text-align: center;
}

/* PAGE DES ZONINGS */

/* pour le zoning 1 */

#zoning-1 {
    width: 800px;
    margin: auto;
    color: rgb(49, 49, 49);
    font-weight: 1px bold;
    text-align: center;
}

#zoning-1 header {
    height: 70px;
    background-color: #F7F39A;
}

#zoning-1 aside {
    height: 525px;
    width: 20%;
    float: left;
    background-color: #A3DE83;  
}

#zoning-1 section {
    height: 525px;
    width: 80%;
    float: left;
    margin: 0;
    padding: 0;
    background-color: #4dc40d;
}

/* pour le zoning 2 */

#zoning-2 {
    width: 500px;
    margin: auto;
    color: rgb(49, 49, 49);
    text-align: center;
}

#zoning-2 header {
    height: 70px;
    background-color: #800080 ;
}

#zoning-2 aside {
    width: 100px;
    height: 600px;
    float: left;
    background-color: #a6d6c3;  
}

#zoning-2 section {
    width: 300px;
    height: 600px;
    float: left;
    margin: 0;
    padding: 0;
    background-color: #ffd6d6;
}

/* pour le ZONING 3 de Patrick - avec espace supl a regler avant footer */


/* #zoning-3 {
    width: 800px;
    margin: auto;
}

#zoning-3 section {
    width: 50%;
    min-height: 400px;
    float: left;
}

#zoning-3 .bleu {
   background-color:blue;
}

#zoning-3 .rose {
   background-color:pink;
}

#zoning-3 footer {
   height: 150px;
   background-color: rgb(235, 28, 62);
}

#zoning-3 footer  {
   margin: 0;
}

#zoning-3 div {
   height: 15px;
   margin: 0;
   padding: 0;
   background-color: rgb(136, 72, 17);
}
 */

/* fin zoning 3 de Patrick */


/* ZONING 3 de VANUSA comme la maquette */

#zoning-3 {
    width: 800px;
    margin: auto;
    color: rgb(49, 49, 49);
    font-weight: 1px bold;
    text-align: center;
}

#zoning-3 .section-gauche {
    width: 50%;
    height: 400px;
    margin: 0;
    padding: 0;
    background-color: #2dd3e3;
    float: left;
}

#zoning-3 .section-droite {
    width: 50%;
    min-height: 400px;
    background-color: #2dd3e3;
    margin: 0;
    padding: 0;
    float: left;
}

#zoning-3 .section-etroite {
    width: 800px;
    height: 10px;
    margin: 0;
    padding: 0;
    background-color:#ffd4d5;
    float: left;
}

#zoning-3 footer {
    width: 800px;
    height: 90px;
    margin: auto;
    background-color: #d3edaf;
    color: rgb(49, 49, 49);
    float: left;
}


/* ZONING 4 fait selon la maquette par Vanusa */


#zoning-4 {
    width: 700px;
    margin: auto;
    color: rgb(49, 49, 49);
    /* font-weight: bold; */
    text-align: center;
}

#zoning-4 header {
    
    height: 98px;
    background-color: #00ff00;
}

#zoning-4 .section-1 {
    width: 700px;
    height: 50px;
    background-color:#0081be;
    float: left;
    margin: 0;
    padding: 0;
}

#zoning-4 .section-2 {
    width: 700px;
    height: 30px;
    background-color: #41ccff;
    float: left;
    margin: 0;
    padding: 0;
}

#zoning-4 .section-3 {
    width: 700px;
    height: 540px;
    background-color: white;
    margin: auto;
    /* padding: 50px; */
    /* border: 50px white; */
    float: left;
}

#zoning-4 .section-pink {
    width: 660px;
    height: 500px;
    margin: auto;
    background-color: #ff59b7;
    float: left;
}

#zoning-4 footer {
    width: 700px;
    height: 50px;
    margin: auto;
    color:rgb(49, 49, 49);
    background-color: #ffe4af;
    float: left; 
}


/* ZONING 5 * : c'est le zoning 7 fait avec Patrick 10/08, je l'ai intégré et nomé Zonning 5 sur le site */
/* 
#body du zoning-7 {
    background-color: #eee8aa;
    /* color: #fff;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
} */

#zoning-5 {
    width: 800px;
    margin: 0 auto;
    background: orangered;
    color: white;
    text-align: center;
    font-size: 1.2em;  
}

#zoning-5 header {
    height: 80px;
    background: #40a497;
}

#zoning-5 nav {
    height: 30px;
    background-color: #9a40a4;
    margin-top: 0;
    /* box-sizing: content-box; */
    padding: 0;
    /* ici content-box regle le conflit avec box-sizing: auto du style general et pagging 0 aussi : pour integrer la nav confrme la maquette; */
}

#zoning-5 section {
    width: 760px;
    height: 600px;
    margin: 20px;
    padding: 0;
    /* float: left; */
}

#zoning-5 p {
    margin: 0;
    padding: 0;
}

#zoning-5 .a, .b, .c, .d {
    width: 50%;
    height: 300px;
    float: left;
}

#zoning-5 .a {
    background-color: #40a497;
}

#zoning-5 .b {
    background-color: #d69f1b;
}

#zoning-5 .c {
    background-color: #b1b2d8;
}

#zoning-5 .d {
    background-color: #1217f2;
}

#zoning-5 footer {
    background-color: green;
    height: 80px;
    padding: 0;
}



/******** Couleurs du ZONING 5 de la maquette initiale /
    color: #d000ff;
    color: #e661bf;
    color: #333333;
    color: #90e177;
    color: #00ff00;
    color: #00c1ff;
    color: #006f84;
    color: #fed75d;
}


/* ZONING 6 */


















/****** ZONING 6 * ******** de la maquette initiale /
/* couleurs */
/* #zoning-6 {
    color:#ff5538;
    color: #008281;
    color:#00e4d0;
    color: #0081be;
    color:#ddbdda;
    color:#f9dead;                     
    color:#f5f5f5;
    color:#90e177;
    color: #00ff00;
    color: #f500ff;
    color: #ffa200;
    color: #ff0062;
} */



















/* zoning 3 de MIREDI */
/* main */

/* #zoning-3 {
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: pink;
}


#zoning-3 aside {
    width: 400px;
    height: 300px;
    float: left;
    background-color: lightblue;
    text-align: center;
}


.h4 {
    float: left;
    width: 800px;
    background-color: pink;
}

#zoning-3 footer {
    float: left;
    margin: auto;
    padding: 50px;
    width: 800px;
    height: 110px;
    background-color: yellowgreen;
    text-align: center;
}
 */

