



/* 

/* ZONING 6 e Vanusa fonctionne */

body {
    background-color: white;
    
}
#zoning-6 {
    width: 800px;
    margin: auto;
    color: rgb(49, 49, 49);
    text-align: center;
    /* top: auto; */
}

#zoning-6 .section-gauche {
    width: 50%;
    height: 400px;
    background-color: #afeeee;
    float: left;
}

#zoning-6 .section-droite {
    width: 50%;
    height: 400px;
    background-color:#ffc0cb;
    float: left;
}

#zoning-6 .section-bas {
    width: 800px;
    height: 15px;
    background-color:#ffdab9;                     
    float: left;
}

#zoning-6 footer {
    width: 800px;
    height: 50px;
    margin: auto;
    background-color: #90ee90;
    color: rgb(49, 49, 49);
    float: left;
}

.clear {
    clear: both;
 }

 /* il faut toujours la classe CLEAR pour rétablir le flux */
 